@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,900');

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Fira Sans', sans-serif;
  }
  
  h1 {
      font-size: 2.827em;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }


/*  */

.container {
    max-width: 1200px;
    max-height: 100%;
    margin: 0 auto;
}

.card {      
    position:absolute;    
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    text-align: center;
}

.card__item {
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

.card__title {    
    opacity: 0;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;    
    -webkit-animation-name: card__title-animate;
        animation-name: card__title-animate;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.card__title strong {
    font-weight: 900;
}

/*  */

@media only screen and (max-width: 40em) {

    .card__item {
        width: 100%;
        height: auto;
    }

    .card__title {
        font-size: 2em;
    }
 }

 /*  */

#card__svg * {
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
            animation-timing-function: cubic-bezier(0, 0, 1, 1);     
}

#HybWZVY-ZQ {     
    -webkit-animation-duration: 2s;
    animation-duration: 2s;       
    -webkit-animation-name: HybWZVY-ZQ_Animation;
            animation-name: HybWZVY-ZQ_Animation;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    transform-box: fill-box;
}
#HybWZVY-ZQ_rywdNKZ-Q {    
    -webkit-animation-timing-function: ease-in-out;            
            animation-timing-function: ease-in-out;                
    -webkit-animation-name: HybWZVY-ZQ_rywdNKZ-Q_Animation;
            animation-name: HybWZVY-ZQ_rywdNKZ-Q_Animation;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    transform-box: fill-box;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px)
}
#BJMbW4KbWQ {
    -webkit-animation-duration: 3s;
            animation-duration: 3s;    
    -webkit-animation-name: BJMbW4KbWQ_Animation;
            animation-name: BJMbW4KbWQ_Animation;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    transform-box: fill-box;
}
#BJMbW4KbWQ_Hy004FZWQ {
    -webkit-animation-name: BJMbW4KbWQ_Hy004FZWQ_Animation;
            animation-name: BJMbW4KbWQ_Hy004FZWQ_Animation;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;            
    -webkit-animation-direction: alternate;
            animation-direction: alternate;              
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    transform-box: fill-box;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px)
}
#HkVbZVFZbQ {
    -webkit-animation-duration: 5s;
            animation-duration: 5s; 
    -webkit-animation-name: HkVbZVFZbQ_Animation;
            animation-name: HkVbZVFZbQ_Animation;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;              
    transform-box: fill-box;
}
#HkVbZVFZbQ_S1O-BFWb7 {
    -webkit-animation-name: HkVbZVFZbQ_S1O-BFWb7_Animation;
            animation-name: HkVbZVFZbQ_S1O-BFWb7_Animation;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;            
    -webkit-animation-direction: alternate;
            animation-direction: alternate;            
    transform-box: fill-box;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px)
}
#SJQWWNF-WX {
    -webkit-animation-duration: 7s;
        animation-duration: 7s;    
    -webkit-animation-name: SJQWWNF-WX_Animation;
            animation-name: SJQWWNF-WX_Animation;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    transform-box: fill-box;
}
#SJQWWNF-WX_B1rQBKW-m {
    -webkit-animation-name: SJQWWNF-WX_B1rQBKW-m_Animation;
            animation-name: SJQWWNF-WX_B1rQBKW-m_Animation;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;            
    -webkit-animation-direction: alternate;
            animation-direction: alternate;               
    transform-box: fill-box;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px)
}

@-webkit-keyframes card__title-animate {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes card__title-animate {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes SJQWWNF-WX_B1rQBKW-m_Animation {
    from {
        -webkit-transform: translate(0px, 50px);
                transform: translate(0px, 50px)
    }
    50% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px)
    }
    to {
        -webkit-transform: translate(0px, 50px);
                transform: translate(0px, 50px)
    }
}
@keyframes SJQWWNF-WX_B1rQBKW-m_Animation {
    from {
        -webkit-transform: translate(0px, 50px);
                transform: translate(0px, 50px)
    }
    50% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px)
    }
    to {
        -webkit-transform: translate(0px, 50px);
                transform: translate(0px, 50px)
    }
}
@-webkit-keyframes SJQWWNF-WX_Animation {
    60% {
        opacity: 0
    }    
    0% {
        opacity: 0
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1
    }
}
@keyframes SJQWWNF-WX_Animation {
    60% {
        opacity: 0
    }
    0% {
        opacity: 0
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes HkVbZVFZbQ_S1O-BFWb7_Animation {
    from {
        -webkit-transform: translate(0px, 40px);
                transform: translate(0px, 40px)
    }
    50% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px)
    }
    to {
        -webkit-transform: translate(0px, 40px);
                transform: translate(0px, 40px)
    }
}
@keyframes HkVbZVFZbQ_S1O-BFWb7_Animation {
    from {
        -webkit-transform: translate(0px, 40px);
                transform: translate(0px, 40px)
    }
    50% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px)
    }
    to {
        -webkit-transform: translate(0px, 40px);
                transform: translate(0px, 40px)
    }
}
@-webkit-keyframes HkVbZVFZbQ_Animation {
    50% {
        opacity: 0
    }
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes HkVbZVFZbQ_Animation {
    50% {
        opacity: 0
    }
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes BJMbW4KbWQ_Hy004FZWQ_Animation {
    from {
        -webkit-transform: translate(0px, 60px);        
                transform: translate(0px, 60px)
    }
    50% {
        -webkit-transform: translate(0px, 0px);        
                transform: translate(0px, 0px)
    }
    to {
        -webkit-transform: translate(0px, 60px);        
                transform: translate(0px, 60px)
    }
}
@keyframes BJMbW4KbWQ_Hy004FZWQ_Animation {
    from {
        -webkit-transform: translate(0px, 60px);        
                transform: translate(0px, 60px);
    }
    50% {
        -webkit-transform: translate(0px, 0px);        
                transform: translate(0px, 0px)
    }
    to {
        -webkit-transform: translate(0px, 60px);
        -ms-transform: translate(0px, 60px);
                transform: translate(0px, 60px)
    }
}
@-webkit-keyframes BJMbW4KbWQ_Animation {
    65% {
        opacity: 0
    }
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes BJMbW4KbWQ_Animation {
    65% {
        opacity: 0
    }
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes HybWZVY-ZQ_rywdNKZ-Q_Animation {
    0% {
        -webkit-transform: translate(0px, 80px);
                transform: translate(0px, 80px)
    }
    66.67% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px)
    }

    100% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px)
    }
}
@keyframes HybWZVY-ZQ_rywdNKZ-Q_Animation {
    0% {
        -webkit-transform: translate(0px, 80px);
                transform: translate(0px, 80px)
    }
    66.67% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px)
    }
    100% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px)
    }
}
@-webkit-keyframes HybWZVY-ZQ_Animation {
    50% {
        opacity: 0;
    }    
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes HybWZVY-ZQ_Animation {
    50% {
        opacity: 0;
    }  
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

